Source: systemsettings
Priority: extra
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Scarlett Clark <scarlett@scarlettgatelyclark.com>
Build-Depends: cmake,
               debhelper (>= 9.0.0),
               extra-cmake-modules (>= 4:None),
               kdoctools-dev (>= 5.0.0),
               kgendesignerplugin (>= 5.0.0),
               kinit-dev (>= 5.0.0),
               kio-dev (>= 5.0.0),
               libkf5attica-dev (>= 5.0.0),
               libkf5auth-dev (>= 5.0.0),
               libkf5bookmarks-dev (>= 5.0.0),
               libkf5codecs-dev (>= 5.0.0),
               libkf5completion-dev (>= 5.0.0),
               libkf5config-dev (>= 5.0.0),
               libkf5configwidgets-dev (>= 5.0.0),
               libkf5coreaddons-dev (>= 5.0.0),
               libkf5crash-dev (>= 5.0.0),
               libkf5dbusaddons-dev (>= 5.0.0),
               libkf5emoticons-dev (>= 5.0.0),
               libkf5globalaccel-dev (>= 5.0.0),
               libkf5guiaddons-dev (>= 5.0.0),
               libkf5i18n-dev (>= 5.0.0),
               libkf5iconthemes-dev (>= 5.0.0),
               libkf5itemmodels-dev (>= 5.0.0),
               libkf5itemviews-dev (>= 5.0.0),
               libkf5jobwidgets-dev (>= 5.0.0),
               libkf5kcmutils-dev (>= 5.0.0),
               libkf5kdelibs4support-dev (>= 5.0.0),
               libkf5kdelibs4support5-bin (>= 5.0.0),
               libkf5khtml-dev (>= 5.0.0),
               libkf5kjs-dev (>= 5.0.0),
               libkf5notifications-dev (>= 5.0.0),
               libkf5parts-dev (>= 5.0.0),
               libkf5service-dev (>= 5.0.0),
               libkf5solid-dev (>= 5.0.0),
               libkf5sonnet-dev (>= 5.0.0),
               libkf5textwidgets-dev (>= 5.0.0),
               libkf5unitconversion-dev (>= 5.0.0),
               libkf5wallet-dev (>= 5.0.0),
               libkf5widgetsaddons-dev (>= 5.0.0),
               libkf5windowsystem-dev (>= 5.0.0),
               libkf5xmlgui-dev (>= 5.0.0),
               pkg-kde-tools,
               qtbase5-dev,
               xvfb
Standards-Version: 3.9.5
Section: libs
Homepage: https://projects.kde.org/projects/kde/workspace/systemsettings
Vcs-Browser: https://bazaar.launchpad.net/~kubuntu-packagers/kubuntu-packaging/systemsettings
Vcs-Bzr: https://code.launchpad.net/~kubuntu-packagers/kubuntu-packaging/systemsettings

Package: systemsettings
Section: utils
Architecture: any
Depends: systemsettings-data (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: System Settings interface
 Desktop configuration application.
 .
 This package is part of the KDE base workspace module.

Package: systemsettings-data
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: System Settings interface data files
 Desktop configuration application.
 .
 This package contains the data files

Package: systemsettings-dbg
Section: debug
Architecture: any
Recommends: qtbase5-dbg
Depends: systemsettings (= ${binary:Version}), ${misc:Depends}
Description: System Settings interface debug files
 Desktop configuration application.
 .
 This package contains the debugging symbols.
